body {
    background: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Michroma', sans-serif;
}

#profile-picture {
    width: 10em;
    border-radius: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

li {
    padding-left: 2em;
    padding-right: 2em;
}

#nav-bar-items {
    display: flex;
    flex-direction: row;
}

#initials-logo {

}

