body {
    background: #293241;
    color: #E0FBFC;
    font-family: 'Michroma', sans-serif;
}

#profile-picture {
    width: 10em;
    border-radius: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #F29E4C;
}

ul {
    list-style: none;
    display: flex;
}

.bdazzledblue {
    background: #3D5A80;
}

.darkskyblue {
    background: #98C1D9;
}

.lightcyan {
    background: #E0FBFC;
}

.gunmetal {
    background: #293241;
}

.sandybrown {
    background: #F29E4C;
}

li {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

#nav-bar-items-container {
    display: flex;
    align-items: center;
}

#nav-bar-items {
}

#initials-logo-container {
    padding: 1em;
}

#initials-logo {
    height: 2.5em;
    width: 2.5em;
    border-radius: 3em;
    background: #E0FBFC;
    color: #293241;
    line-height: 2.25em;
}

a:link {
    color: #E0FBFC;
}

a:visited {
    color: #E0FBFC;
}

a:hover {
    color: #98C1D9;
}

a:active {
    color: #E0FBFC;
}

nav a:link {
    color: #E0FBFC;
    text-decoration: none;
}

nav a:visited {
    color: #E0FBFC;
    text-decoration: none;
}

nav a:hover {
    color: #98C1D9;
    text-decoration: none;
}

nav a:active {
    color: #E0FBFC;
    text-decoration: none;
}

