body {
    background: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Michroma', sans-serif;
}

#profile-picture {
    width: 10em;
    border-radius: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #E33654;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

#nav-bar-items-container {
    display: flex;
    align-items: center;
}

#nav-bar-items {
}

#initials-logo-container {
    padding: 1em;
}

#initials-logo {
    height: 2.5em;
    width: 2.5em;
    border-radius: 3em;
    background: #FFFFFF;
    color: #1E1E1E;
    line-height: 2.25em;
}

nav a:link {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:active {
    color: #FFFFFF;
    text-decoration: none;
}

