.p-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0FBFC;
    overflow-x: scroll;
    padding: 2em;
}

.p-cards-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

.p-cards-container::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.p-cards-container::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #98C1D9, #3D5A80);
}

.p-card {
    border-radius: 14px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1em;
    background: #3D5A80;
    height: 350px;
    width: 400px;
    min-width: 300px;
    box-shadow: -1rem 0 3rem black;
    transition: .3s;
}

.p-card:hover {
    transform: translateY(-1rem);
}

.p-card:hover ~ .p-card {
    transform: translateX(130px);
}

.p-card:not(:first-child) {
    margin-left: -130px;
}