.p-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0FBFC;
    padding: 2em;
}

.p-card {
    border-radius: 14px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1em;
    background: #3D5A80;
    height: 350px;
    width: 400px;
    min-width: 300px;
    box-shadow: -1rem 0 3rem black;
    transition: .3s;
}

.p-card-body-bottom {
    margin-top: auto;
}

.p-card-footer {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.p-card:hover {
    transform: translateY(-1rem);
    box-shadow: -.5rem 0 1.5rem black;
    border: inset 3px #E0FBFC;
}

.p-card:hover ~ .p-card {
    transform: translateX(130px);
}

.p-card:not(:first-child) {
    margin-left: -130px;
}

article {
    cursor: pointer;
}