<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html">
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav>
    <div id="initials-logo">CM</div>
    <div>
        <ul id="nav-bar-items">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </div>
</nav>
<img src="/img/chase.jpg" alt="profile picture of site creator" id="profile-picture">
<div>Family Picture</div>
<div>
    <a href="https://www.linkedin.com/in/chasemartinez22/">LinkedIn</a>
</div>
<div>
    <a href="https://www.github.com/tsurizao">GitHub</a>
</div>
<div>
    ...Link to Resume
</div>
<div>
    ...Link to About Me (sort of like a cover letter)
</div>
<div>
    Projects
</div>
<div>
    Links to GitHub built sites (set up github sites to work like web pages)
</div>
<div>
    Coding Blog (Posts about what I have coded)
</div>
<div>
    Gaming Blog (Posts about games I've been playing)
</div>
<div>
    Family Blog (Posts about family events)
</div>
<div>
    Build an API that stores fishing jokes or funny fishing pictures etc
</div>
</body>
</html>