<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head(Main)">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<div>Family Picture</div>
<div>
    <a href="https://www.linkedin.com/in/chasemartinez22/" target="_blank">LinkedIn</a>
</div>
<div>
    <a href="https://www.github.com/tsurizao" target="_blank">GitHub</a>
</div>
<div>
    <a href="https://docs.google.com/document/d/1QyRONoOR9xrJPeyMHdfgtCxZ4_0GKvQ1nOGCfbscLwc/edit?usp=sharing"
       target="_blank">Resume</a>
</div>
<div>
    <a href="/about">About</a>
</div>

</body>
</html>