<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html">
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav>
    <div id="initials-logo-container">
        <div id="initials-logo">CM</div>
    </div>
    <div id="nav-bar-items-container">
        <ul id="nav-bar-items">
            <li>HOME</li>
            <li>PROJECTS</li>
            <li>ABOUT</li>
            <li>CONTACT</li>
        </ul>
    </div>
</nav>
<img src="/img/chase.jpg" alt="profile picture of site creator" id="profile-picture">
<div>Family Picture</div>
<div>
    <a href="https://www.linkedin.com/in/chasemartinez22/" target="_blank">LinkedIn</a>
</div>
<div>
    <a href="https://www.github.com/tsurizao" target="_blank">GitHub</a>
</div>
<div>
    <a href="https://docs.google.com/document/d/1QyRONoOR9xrJPeyMHdfgtCxZ4_0GKvQ1nOGCfbscLwc/edit?usp=sharing"
       target="_blank">Resume</a>
</div>
<div>
    <a href="" target="_blank">About Me nothing yet</a>
</div>
<div>
    Projects
</div>
<div>
    Links to GitHub built sites (set up github sites to work like web pages)
</div>
<div>
    Coding Blog (Posts about what I have coded)
</div>
<div>
    Gaming Blog (Posts about games I've been playing)
</div>
<div>
    Family Blog (Posts about family events)
</div>
<div>
    Build an API that stores fishing jokes or funny fishing pictures etc
</div>
</body>
</html>